
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

* {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Belanosima", sans-serif;
}

/* Css page création de compte pro, Antoine */
body[id="body_creation_compte_pro"] {
    background-image: url("fond.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a[id="lienCGU"] {
    color: white;
}

a[id="lienCGU"]:hover {
    color: #edae14;
}

a[id="lienConnexion"] {
    color: white;
    font-family: "Belanosima", sans-serif;
}

a[id="lienConnexion"]:hover {
    color: #edae14;
}

h1[id="inscriptionTitre"] {
    text-align: center;
    margin: 30px 10px;
    color: #034D7C;
    font-weight: 100;
    font-size: 65px;
}

body[id="body_creation_compte_pro"] h2 {
    font-weight: 100;
}

aside[id="asideRetour"] {
    position: fixed;
    top: 10px;
    left: 10px;
}

button[id="retour"] {
    background: none;
    border: none;
    color: #034D7C;
    text-decoration: underline;
    font: inherit;
    cursor: pointer;
    padding: 0; 
}

aside[id="asideRetour"] > button[id="retour"] > img {
    vertical-align: middle;
    width: 70px;
    height: 65px;
    margin-right: 5px;
}

.creation-compte form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 20px;
    padding: 15px;
    margin: auto;
    width: 900px;
    height: auto;
    background-color: #034D7C;
    color: white;
}

body[id="body_creation_compte_pro"] ::placeholder {
    font-size: 20px;
}

.creation-compte div {
    display: inline;
    justify-content: center;
    margin: 10px;
}

.creation-compte label {
    font-size: 25px;
    margin: 5px;
    text-align: left;
}


.creation-compte div.ligne1 > label, div.ligne6 > label {
    display: inline-block;
    width: 408px;
}



.creation-compte div.ligne2 > label, div.ligne3 > label {
    display: flex;
    justify-content: left;
    width: 823px;
    margin: 5px auto;
}



.creation-compte div.ligne4 > label {
    display: inline-block;
    width: 215px;
} 

.creation-compte div.ligne4 > label[for="ville"] {
    width: 601px;
}



.creation-compte .ligne5 {
    display: flex;
    align-items: center;
    margin: 10px 26px;
    text-align: left;
    justify-content: space-between;  
}

.creation-compte .ligne5_1 {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.creation-compte .ligne5 input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
}

.creation-compte .ligne5 label {
    margin-right: 20px;
    margin-left: 5px;
    font-size: 25px;
}

.creation-compte .ligne5_1 label {
    margin: 0;
    font-size: 25px;
}



.creation-compte .ligne7 {
    display: flex;
    align-items: center;
    margin: 5px;
    text-align: left;
    justify-content: center;  
}


.creation-compte input {
    font-size: 20px;
    padding-left: 0 5px;
    border: 0;
}

input[id="denomination"], input[id="telephone"], input[id="motdepasse"], input[id="confirmer"]{
    width: 403px;
    height: 40px;
    margin: 0 5px;
    border: 3px solid #edae14;
}

input[type=email], input[id="adresse"]{
    width: 823px;
    height: 40px;
    margin: 0 5px;
    border: 3px solid #edae14;
}

input[id="code"]{
    width: 210px;
    height: 40px;
    margin: 0 5px;
    border: 3px solid #edae14;
}

input[id="ville"]{
    width: 596px;
    height: 40px;
    margin: 0 5px;
    border: 3px solid #edae14;
}

input[id="public"], input[id="prive"]{
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

input[id="siren"]{
    width: 408px;
    height: 40px;
    /* margin: 0 5px; */
    margin-right: 0;
    margin-left: 10px;
    border: 3px solid #edae14;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

button[id = "boutonInscriptionPro"] {
    width: 200px;
    font-size: 25px;
    height: 60px;
    border-radius: 15px;
    margin: 5px auto;
    background-color: #edae14;
}