@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

:root[theme="light"] {
  --bloc: #034d7c;
  --background: #eaeaea;
  --primary: #1ca4ed;
  --secondary: #d1ccdc;
  --accent: #edae14;
  --text-dark: #000;
  --text-light: #fff;
}
:root[theme="dark"] {
  --bloc: #83cdfc;
  --background: #141414;
  --primary: #129ae2;
  --secondary: #282334;
  --accent: #edaf12;
  --text-dark: #fff;
  --text-light: #000;
}

* {
  font-family: "Lato", sans-serif;
  text-align: justify;
}

h1,
h2,
h3,
h4 {
  font-family: "Belanosima", serif;
}

h1 {
  color: var(--bloc);
  font-family: "Mogra", system-ui;
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h1 {
  font-size: 2rem;
}
h1 {
  font-size: 1.5rem;
}
