.tag:hover, .ferme:hover, .ouvert:hover, #infopro > div:hover, #contact-info > div:hover {
  transform: scale(115%);
  }
  
.tag, .ferme, .ouvert, #infoPro > div, #contact-info > div{
  transform: scale(100%);
  transition: 0.5s ease;
}



@keyframes secoue {
  0% { transform: translateY(0); }
  2% { transform: translateY(-10px); } /* Monte */
  4% { transform: translateY(0); } /* Descend */
  6% { transform: translateY(7px); } /* Petit rebond */
  8% { transform: translateY(0); } /* Redescend doucement */
  9% { transform: translateY(-3px); } /* Très léger rebond final */
  10% { transform: translateY(0); } /* Retour à la normale */
  100% {transform: translateY(0);}
}


#formConnexion p img{
  animation: secoue 6s ease-in infinite 2s;
  display: inline-block;
}


@keyframes logocharge {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* classe attribuée au logo quand un lien est cliquer, pour expliciter le chargement en cours (logo du header, des aside de retour...) */
.chargementActif{
  animation: logocharge 1.2s cubic-bezier(0.36, -0.3, 0.71, 1.46) infinite;
}



