/* grossissement d'éléments au survol */
.tag:hover, .ferme:hover, .ouvert:hover, #infopro > div:hover, #contact-info > div:hover {
  transform: scale(115%);
  }
  
.tag, .ferme, .ouvert, #infoPro > div, #contact-info > div{
  transform: scale(100%);
  transition: 0.5s ease;
}
/* d'ailleurs, pour les survols de boutons ou autres éléments classiques dont seule la couleur change, les animations n'ont pas été mises ici */


/* cartes de la page d'accueil / recherche qui se retournent */
.flip-card-inner {
  transition: transform 0.5s cubic-bezier(.65,.05,.36,1);
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* animation des pouces au clic sur le btn like / dislike */
@keyframes like-animation {
  0%, 100% {transform: scale(1) rotate(0deg);}

  50% {
      transform: scale(1.1) rotate(-10deg);
  }
}

.container .alike:checked+svg{
  animation: like-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-like);
}

.container .adislike:checked+svg{
  animation: like-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-dislike);
}

.container:has(.adislike:checked) .count.dislikes, .container:has(.adislike:checked) #pipe{
  color: var(--col-dislike);
}

.container:has(.alike:checked) .count.likes, .container:has(.alike:checked) #pipe{
  color: var(--col-like);
}


/* actualisation du nb de likes quand on en ajoute / retire */
.container .count .number {
  display: flex;
  flex-direction: column;
  transform: translateY(calc(50% - 8px));
  transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.container .count .number:first-child {
  transition-delay: 200ms;
}

.container .count .number:nth-child(2) {
  transition-delay: 150ms;
}

.container .count .number:last-child {
  transition-delay: 50ms;
}


/* page de connexion, rappel d'acriver l'A2F avec une animation régulière */
@keyframes secoue {
  0% { transform: translateY(0); }
  2% { transform: translateY(-10px); } 
  4% { transform: translateY(0); } 
  6% { transform: translateY(7px); } 
  8% { transform: translateY(0); } 
  9% { transform: translateY(-3px); } 
  10% { transform: translateY(0); } 
  100% {transform: translateY(0);}
}

#formConnexion p img{
  animation: secoue 6s ease-in infinite 2s;
  display: inline-block;
}



@keyframes logocharge {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* classe attribuée au logo sur la page de chargement et quand un lien est cliqué */
.chargementActif{
  animation: logocharge 1.2s cubic-bezier(0.36, -0.3, 0.71, 1.46) infinite;
}

/* changement de slogan sur la page de chargement */
.ancienSlogan {
  transform: translateY(40px);
  opacity: 0;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
.nouveauSlogan {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}


/* animations du menu du compte (à droite de l'écran) */
#profileMeu{
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

#profileMenu.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(calc(100vw - 276px));
}

#profileMenu.hide {
  visibility: visible;
  opacity: 1;
  transform: translateX(105vw);
}

#profileMenu.deplace {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

/* items du menu */
#profileMenu ul a,
.liFact {
  border-left: 0px solid var(--primary);
  transition: 0.3s;
}

#profileMenu ul a:hover,
.liFact:hover {
  border-left-width: 15px;
  transition: 0.3s;
}


/* Notifications des avis du pro */
#notification_aside{
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
}

header:has([for="notification"] input:checked) + aside {
  opacity: 1 !important;
  visibility: visible !important;
}

.haveNotification img {
  animation: vibre 7.5s linear infinite;
}

@keyframes vibre {
  0% {transform: rotate(-8deg)}
  3% {transform: rotate(8deg)}
  6% {transform: rotate(-8deg)}
  9% {transform: rotate(8deg)}
  12% {transform: rotate(-8deg)}
  15% {transform: rotate(0deg)}
}


/* animations page d'erreur 404 */

.vague:nth-child(1) {
  bottom: -200px;
  z-index: 5;
  animation: vagueDebutDroite 6s ease-in-out infinite alternate;
}

.vague:nth-child(2) {
  transform: translateX(-50vw);
  bottom: -50px;
  z-index: 4;
  animation: vagueDebutGauche 7.5s ease-in-out infinite alternate;
}

.vague:nth-child(3) {
  bottom: -150px;
  z-index: 3;
  animation: vagueDebutDroite 9s ease-in-out infinite alternate;
}

.nuage:nth-child(2) {
  top: -150px;
  z-index: 1;
  animation: vagueDebutDroite 6.5s ease-in-out infinite alternate;
}

.nuage:nth-child(3) {
  transform: translateX(-50vw);
  top: -200px;
  z-index: 2;
  animation: vagueDebutGauche 8s ease-in-out infinite alternate;
}

@keyframes vagueDebutDroite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50vw); }
}

@keyframes vagueDebutGauche {
  0% { transform: translateX(-50vh); }
  100% { transform: translateX(0); }
}

.contenu404 img{
  height: 120px;
  width: auto;
  animation: logoTombe 6s ease-in-out 3s forwards;
  transform-origin: bottom center; 
}

@keyframes logoTombe {
  0% { transform: rotate(0deg) translateY(0); }
  15% { transform: rotate(210deg) translateY(0); }
  20% { transform: rotate(165deg) translateY(0); }
  25% { transform: rotate(180deg) translateY(0); }
  33% { transform: rotate(180deg) translateY(-20vh);
        opacity: 1;
        animation-timing-function: ease-in; }
  100% { transform: rotate(180deg) translateY(-100vh);
         animation-timing-function: ease-out; 
         opacity: 0; }
}
